<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 명령어 작성파일 -->
<mapper namespace="kme">

	<insert id="insertBook" parameterType="Book">
		INSERT INTO BOOK(TITLE,WRITER,PUBLISHER,PRICE)
		VALUES(#{title},#{writer},#{publisher},#{price})
	</insert>

	<select id="selectBook" parameterType="Integer" resultType="Book">
		SELECT * FROM BOOK WHERE
		BOOK_NUM=#{book_num}
	</select>

	<select id="selectBookList" resultType="Book">
		SELECT * FROM BOOK
	</select>

	<update id="updateBook" parameterType="Map">
		UPDATE BOOK SET PRICE=#{price} WHERE BOOK_NUM=#{bookNum}
	</update>

	<!-- <delete id=""></delete> -->


</mapper>